<div style="background-color:#fff">
<div class="container" style="width:700px">
  <div class="aboutSession {% if page.title == "Service" %} shown {% endif %}">
    <h1>About Our Services</h1>
    <h2>Metal Manufacturing Services</h2>
    <p>
      Metal has fascinating malleability and the properties to transform from a sheet of metal to all sort of possibilities. Here are some of the techniques we used in our metalwork. The combination of our machinery and skilled hand labour bring your project idea into reality.
    </p>
    <h2>Original Equipment Manufacturing (OEM)</h2>
    <p>
      Metal has fascinating malleability and the properties to transform from a sheet of metal to all sort of possibilities. Here are some of the techniques we used in our metalwork. The combination of our machinery and skilled hand labour bring your project idea into reality.
    </p>
    <div class="metalTechniques Patua">
    <div class="metalTechnique">FLANGING</div>
    <div class="metalTechnique">CNC</div>
    <div class="metalTechnique">PLASMA</div>
    <div class="metalTechnique">CUTTING</div>
    <div class="metalTechnique">ROLLING</div>
    <div class="metalTechnique">SHEARING</div>
    <div class="metalTechnique">WELDING</div>
    <div class="metalTechnique">SAWING</div>
  </div>
    <h3>We manufacture mostly Industrial Fans and Silencers.<br />
      <a href="industrial-fans-and-silencers.html"> Learn more here.  <i class="ion-ios-flower"></i></a>
    </h3>
  </div>
  <div class="aboutSession {% if page.title == "Materials" %} shown {% endif %}">
      <h1>Materials & Dimensions</h1>
      <div class="metalList Patua">
      <div><img src="img/11.jpg"> Mild Steel</div>
      <div><img src="img/22.jpg"> Galvanised Iron</div>
      <div><img src="img/33.jpg"> Stainless Steel</div>
      <div><img src="img/44.jpg"> ALUMINIUM</div>
      <div><img src="img/55.jpg"> OTHERS ARE AVAILABLE <small>(contact us) </small></div>
    </div>
<div style="margin-top:20px">
<span class="Patua" style="margin-right:12px">4 feets by 8 feets</span>
<span class="Patua" style="margin-right:20px">5 feets by 10 feets</span>
<span>For all materials</span>
</div>
<div>
<span class="Patua" style="margin-right:20px">The following shapes (up to 6m long)</span>
<span style="margin-right:20px">For all materials exepct for Galvanised Iron</span>
<img src="img/shapes.png" width="80%" style="margin-top:40px">
</div>
</div>
<div class="aboutSession {% if page.title == "Finishing" %} shown {% endif %}">
  <h1>Finishing</h1>
<div class="finishing">
<div>
<div class="content">
<h2>
Hot-Dip Galvanising
</h2>
<p>This method of galvanising is the most cost-efficient for ensuring the protection against rusting of the metal structure. The strong, silvery galvanisation will coat throughout the structure, leaving no area exposed to natural element.</p>
</div>
<img src="img/Hot-Dip Galvanising.jpg">
</div>
<div class="content-wrapper">
<div class="content">
<h2>Epdxy Paint Spray</h2>
<p>Selecting the right type of paint is crucial in ensuring the lasting working quality of our products. Our air-spray epoxy painting not only protects the metal, it also gives a colour option for aesthetic purposes.</p>
</div>
<img src="img/Epdxy Paint Spray.jpg">
</div>
<div>
<div class="content">
<h2>Raw Finish</h2>
<p>This is also a special option for perserving the raw look of our metal products for both aesthetic consideration and experimental approach. Consult us for your finishing needs.<p>
</div>
<img src="img/Raw Finish.jpg">
</div>
<div>
<div class="content">
<h2>Others</h2>
<p>We are open to provide special request for your production presentation. Let us know your project and packaging requirement.</p>
</div>
<img src="img/Other.jpg">
</div>
</div>
</div>
<div class="aboutSession {% if page.title == "Facilities" %} shown {% endif %}">
<h1>Facilities</h1>
<div class="facilities Patua">
<div>
Heavy Fabrication Bay
</div>
<div>
Light Fabrication Bay
</div>
<div>
Assembly Area Warehouse
</div>
</div>
</div>
</div>
</div>
