<div style="background-color:#fff">
<div class="container" style="width:700px">
  <div class="aboutSession {% if page.title == "Casing" %} shown {% endif %}">
    <h1>Fans Casing Manufacturing </h1>
    <h2>Casing for Fan Motor and Impellers</h2>
    <p>
      Ventilation fans comes in various shapes and sizes according to your usage requirement. They come with various corrosive protections such as galvanising, epoxy spray painting and many more. Our choice for its base material includes Mild Steel, Stainless Steel, Galvanised Iron sheet. Contact us for a free consultation.
    </p>
    <div class="fans metalTechniques Patua" style="margin-top:30px">
    <div class="metalTechnique">Axial Fan</div>
    <div class="metalTechnique">Bifurcated Fan</div>
    <div class="metalTechnique">Box Fan </div>
    <div class="metalTechnique">Centrifugal Fan</div>
    <div class="metalTechnique">Roofing Cowling Fan</div>
  </div>
  <div class="slider-wrapper">
    <div class="slider">
    <div><div class="slider_image"><img src="img/1.jpg"></div></div>
    <div><div class="slider_image"><img src="img/2.jpg"></div></div>
    <div><div class="slider_image"><img src="img/4.jpg"></div></div>
    <div><div class="slider_image"><img src="img/5.jpg"></div></div>
    <div><div class="slider_image"><img src="img/6.jpg"></div></div>
    <div><div class="slider_image"><img src="img/7.jpg"></div></div>
  </div>
  <span id="previousSlide">Previous</span>
  <span id="nextSlide" style="float:right">Next</span>
</div>
  </div>
  <div class="aboutSession {% if page.title == "Assembling" %} shown {% endif %}">
      <h1>Assembling</h1>
      <h2>Casing + Motor Quality Check + Dynamic Balancing + Test Run</h2>
      <p>At our assembly bay, our team provides reliable quality check for all the fan  components and assemble them together for a test run before delivering to the installation site.
</p>
<img style="width:500px;" src="img/assembling.jpg">
<h2>Dynamic Balancing</h2>
<p>We offer dynamic balancing for impellers and rotors. If you have any vibration and noise problems with your rotating machinery, feel free to approach us for diagnosis and repair or possible replacement if needed.
</p>
<img style="width:400px;" src="img/dynamic.jpg">
</div>
<div class="aboutSession {% if page.title == "Silencers" %} shown {% endif %}">
  <h1>Silencers</h1>
  <p>We fabricate and customise our silencers to meet your project's requirement for acoustic solutions. Industries served:</p>
  <div class="metalTechniques Patua" style="margin-top:50px">
  <div class="metalTechnique">HVAC</div>
  <div class="metalTechnique">Power Generation</div>
  <div class="metalTechnique">Oil and Gas</div>
  <div class="metalTechnique">Locomotive</div>
</div>
  <div class="slider-wrapper">
    <div class="slider2">
    <div><div class="slider_image"><img src="img/silencer1.jpg"></div></div>
    <div><div class="slider_image"><img src="img/silencer2.jpg"></div></div>
    <div><div class="slider_image"><img src="img/silencer3.jpg"></div></div>
    <div><div class="slider_image"><img src="img/silencer4.jpg"></div></div>
  </div>
  <span id="previousSlide2">Previous</span>
  <span id="nextSlide2" style="float:right">Next</span>
</div>
</div>
<div class="aboutSession {% if page.title == "Cleaning" %} shown {% endif %}" >
<h1>Fans Cleaning Services</h1>
<p>
Dusts, dirt and oil get trapped in the ventilation fans after a long term usage. This is especially true for kitchen exhaust. We provide cleaning and maintenance services for your ventilation system. Consult us and we will review your situation and give you the optimised solution to improve your ventilation.
</p>
<br/>
<p>
  Dismentling motor from a kitchen exhaust fan to check its condition:
</p>
<img style="width:400px" src="img/cleaning.jpg">
</div>
</div>
</div>
