<div class="featuredImage session2">
<img src="img/rob-lambert-64186.jpg" class="img-responsive" alt="Responsive image">
<div class="darkOverlay overlay {%if page.isHome %}o0{%endif%}"></div>
<div class="overlayWords overlay flex-center-vertically">
  <div class="container">
  <h2 class="overlayWords1 {%if page.isHome %}o0{%endif%}">
    <p style="font-size:0.85em">Need consultation on your project's needs? Reach us at</p>
  </h2>
  <div class="button {%if page.isHome %}o0{%endif%}">
    <div class="row">
      <div class="btn btn-archy"><a href="mailto:contact@chh.sg">contact@chh.sg</a></div>
      <div class="btn btn-archy"><a href="tel:65-63680417">+65 63680417 (office)</a></div>
      <div class="btn btn-archy"><a href="tel:65-63680417">+65 63658508 (fax)</a></div>
  </div>
</div>
<div class="button {%if page.isHome %}o0{%endif%}">
  <div class="row">
    <div class="btn btn-archy address"><a target="_blank" href="https://www.google.com.sg/maps/place/Choon+Hoe+Heng+Engineering+and+Metal+Works/@1.4617196,103.809647,17z/data=!3m1!4b1!4m5!3m4!1s0x31da135ceb3634b9:0x45219751892124b6!8m2!3d1.4617142!4d103.8118411">
        North Link Building 10 Admiralty St #05-32, Singapore 757695
    </a></div>
</div>
</div>
<p style="text-align:center; margin-top:30px">
  Copyright © 2017 Choon Hoe Heng Pte Ltd. All Rights Reserved.
</p>
  </div>
</div>
</div>
